:root{
    --background-color: #16ffbd;
    --primary--color: #000;
    --highlight-color:#FF8DAC;
}

*{
    font-size: 16px;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html {
    height: 100%;
    width: 100%;
}


body{
    background-color: var(--background-color);
    font-family: 'Work Sans',Arial, Helvetica, sans-serif;
    line-height: 1.5;
    min-height: 100%;
    min-width: 100%;
}

::selection{
    background-color: var(--highlight-color);
}

::-moz-selection{
    background-color: var(--highlight-color);
}


a{
    color: var(--primary--color);
    text-decoration: none;
    padding: 10px;
    transition: color 0.2s ease-in-out;
}

a:hover{
    color: var(--highlight-color);
}

h2, h3{
    font-family: 'Barlow Condensed', Arial, Helvetica, sans-serif;
    text-align: center;
}
h2{
    font-size: 2.5rem;
}

h3{
    font-size: 1.5rem;
}

.main-container{
    width: 100%;
}



.container{
    width: 100%;
    margin: 0 auto;
}

/* MENU */

.menu{
    text-align: center;
    display: flex;
    justify-content: space-between;
    margin: 100px auto 0 auto;
    width: 70%;
    align-items: center;
}

.menu>div{
    width: 33%;
}

.menu ul{
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    gap: 30px;
}

.menu ul li{
    animation-name: opening-logo;
    animation-duration: 1.2s;
    animation-timing-function: ease-in-out;

}

.menu a{
    font-family: 'Barlow Condensed';
    font-size: 1.7rem;
}

.menu__logo img{
    animation-name: opening-logo;
    animation-duration: 1.6s;
    animation-timing-function: ease-in-out;
}

@keyframes opening-logo{
    0%{
        transform: scale(0);
    }

    100%{
        transform: scale(1);
    }
}

.menu-mobile{
    display: none;
}

/* TODO: hacer con javascript que se muestre el menu */
.menu-mobile__list{
    display: none;
}

.menu-mobile__header{
    display: flex;
    width: 100%;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
}

.menu-mobile__logo{
    flex-grow: 2;
    text-align: center;
    animation-name: opening-logo;
    animation-duration: 1.2s;
    animation-timing-function: ease-in-out;
}

.menu-mobile__header img{
    width: 64px;
}

.menu-mobile__burger svg:hover{
    fill:var(--highlight-color);
}

.menu-mobile ul{
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
}

.menu-mobile ul li{
    text-align: center;
}

.menu-mobile ul li a{
    display: block;
    padding: 10px 0;
}



/* MAIN VIDEO */

.main-video{
    transform-origin: 0 0;
    transform: skewY(-10deg);
    margin-top: 250px;
    overflow: hidden;
    height: 500px;
    margin-bottom: 150px;
}

.main-video .video{
    margin: 0;
    overflow: hidden;
    transform: skewY(10deg) scale(3, 3);
    
}

.main-video .video video{
    margin-top: 100px;
    width: 100%;
}

/* INTRO */

.intro
{
    text-align: center;
    width: 320px;
    margin: 0 auto;
    margin-top: -100px;
    padding-bottom: 100px;
}

/* WORK */

.work{
    margin-top: 150px;
    transform-origin: 0 0;
    transform: skewY(-10deg);
   background-color: #000;
   color: var(--background-color);
}

.work__title{
    padding: 100px;
    transform: skewY(10deg);
}

.work__grid{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 0;
}

.grid__item{
    padding: 0;
    position: relative;
    overflow: hidden;
    height: 300px;
    display: flex;
    justify-content: center;
}

.grid__item img{
    /* width: 130%; */
    height: 140%;
    width: 100%;
    margin-top: -60px;
    transform: skewY(10deg) scale(1,1);
    transition: all 0.075s;
    position: absolute;
}  

.grid__item:hover img{
    transform: skewY(10deg) scale(1.2,1.2);
}


.grid__bg-hover{
    background-color: #000000d6;
    width: 100%;
    height: 150%;
    display: grid;
    position: absolute;
    z-index: 2;
    top: -25%;
    opacity: 0;
    transform: skewY(10deg) scale(1,1);
    justify-items: center;
    align-items: center;
    text-align: center;
    transition: all 0.075s ease-in-out;
}

.grid__item:hover> .grid__bg-hover{
    overflow: hidden;
    opacity: 1;
}

.grid__item:hover>.grid__bg-hover>.grid__info{
    animation-name: bounce;
    animation-duration: 0.4s;
    animation-timing-function: ease-in-out;
}

.grid__title{
    color: #fff;
}

.grid__customer{
    color: var(--background-color);
}

@keyframes bounce {
   0%{
    transform: translateY(500px);
   }
   80%{
    transform: translateY(-30px);
   }
   100%{
    transform: translateY(0px);
   }
   
    
}



/* ABOUT */
.about{
    text-align: center;
   
}

.about__cards{
    display: flex;
    width: 100%;
    background-color: var(--highlight-color);
     transform: skewY(-10deg);
    margin: 80px auto;
    justify-content: space-around;

}

.about__card
{
    
    padding: 80px 20px;
    margin: 0 20px;
}

.about__card h3{
    transform: skewY(10deg);
    margin-top: -30px ;
    margin-bottom: 0.5em;
}

.about__card> p{
    transform: skewY(10deg);
    text-align: center;


}




/* CONTACT */
.contact{
    background-color: #000;
    transform: skewY(-10deg);
    padding: 40px;
}

.contact-container{
    display: flex;
    /* background-color: #16ffbd; */
    align-items: space-between;
    color: var(--background-color);
   
    padding: 20px;
    
}

.contact-container > div{
    /* background-color: ; */
    margin: 0 auto;
    padding: 20px;
}

.contact-container > div h3{
    padding: 20px;
    transform: skewY(10deg);
}

.contact-container > div h3{
    padding: 20px;
    transform: skewY(10deg);
}

.contact-container > div p{
    padding: 20px;
    transform: skewY(10deg);
}

footer{
    background-color: #000;
    height: 300px;
    margin-top: -150px;
}




#screen{
    background-color: var(--highlight-color);
    position: fixed;
    z-index: 100;
    top: -200px;
    left: 0;
    width: 100vw;
    height: 10vh;
    transform: skewY(-10deg);
    transition: all 0.45s;
    animation-timing-function: lineal;
    animation-duration: 2s;
}

.details-container{
    background-color: var(--background-color);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 10;
    overflow: auto;
}

.details-container .nav-bar{
    display: flex;
    justify-content: space-between;
    padding: 20px;
}


.item--hide{
    /* display: none; */
}

.details-container .items{
    width: 60%;
    margin: 0 auto;
}

.item__img img{
    width: 100%;
}

.item__description{
    text-align: center;
}

@keyframes fade-in {
    0%{
        height: 0vh;
    }
    50%{height: 150vh;}
    100%{height: 100vh;}
}

/* MEDIA QUERIES */

@media (max-width:1100px) {
    
    .about__cards{
        display: grid;
        grid-template-rows: auto;
        gap: .8rem;
    }

    .about__card{
        margin: 0 auto;
        width: 60%;
    }
    .logo-sm{
        width: 32px;
    }
}



@media (max-width: 900px){
    .main-video{
        height: 300px;
        margin: 100px 0 ;
    }

    .contact-container{
        display: block;
        text-align: center;
    }

    .work__grid{
        grid-template-columns: 1fr 1fr;
    }

}
@media (max-width: 540px){

    .main-video{
        margin-top: 80px;

    }

    .menu-mobile{
        display: block;
    }

    .menu{
        display: none;
    }

    .work__grid{
        grid-template-columns: 1fr;
    }
   
}



